.categoriesList {
  margin: 0;
  margin-bottom: 50px;
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26px 10px;
  list-style-type: none;
}

.errorTitle {
  margin-bottom: 50px;
}
