// Colors
$bg: #ffffff;
$ui-base: #e58833;
$ui-primary: #60554c;
$ui-secondary: #f8f2e2;
$text-base: #000000;
$text-primary: #e58833;
$text-secondary: #60554c;

//Border radius
$radius-sm: 5px;
$radius-md: 10px;

//Typography
$family: 'Poppins', sans-serif;
$fw-md: 500;
$fw-semibold: 600;
$fs-sm: 12px;
$fs-md: 16px;
$fs-lg: 20px;
$fs-xl: 24px;

//Breakpoints
$mobile: 576px; //Mobile and Tablets
$desktop: 768px; //Desktops and Laptops

//Other
$shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
